* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  body{
    background: #001e4d;
  }
  
  .nav {
    background: aliceblue;
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
  }


.bigcont {
    width: 90%;
    min-height: auto;
    background: rgb(211, 211, 211);
    position: relative;
    top: 50px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 5px;
}  

.semi-big-cont {
    margin: 0 auto;
    align-content: center;
    border: 1px solid yellow;
    height: auto;
    justify-content: center;
}

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer {
    width: 107px;
    height: 180px;
    background: none;
    margin: 0 auto;
    display: inline-flex;
    margin: 5px;
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
    align-items: center;
    justify-content: center;
}
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
    align-items: center;
    justify-content:center;
  }
  
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */

  .thefront p {
    font-family: 'zilla slab', sans-serif;
    font-size: 12px;
    text-align: center;
    position: relative;
    font-weight: bold;
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;     
  }

  .theback p {
    font-family: 'zilla slab', sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    font-style: italic;
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

@media only screen and (max-width: 294px) {
  .bigcont {
    width: 127px;
  }
}

@media only screen and (min-width: 295px) and (max-width: 411px) {
  .bigcont {
    width: 251px;
  }
}

@media only screen and (min-width: 412px) and (max-width: 547px) {
  .bigcont {
    width: 372px;
  }
  
}

@media only screen and (min-width: 548px) and (max-width: 682px) {
  .bigcont {
    width: 494px;
  }
}

@media only screen and (min-width: 682px) and (max-width: 682px) {
  .bigcont {
    width: 494px;
  }
}
