* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
body {
    background: #001e4d;
  }

.nav {
    background: aliceblue;
  }

.level {
    background-color: white;
    margin: 0px auto;
    border-radius: 10px;
    height: 500px;
    max-width: 900px;
    margin-top: 20px;
    padding: 15px;
    overflow: scroll;
  }

.story {
    border: 1px solid grey;
    padding: 5px;
    height: 35px;
    margin: 10px;
    display: flex;
    justify-content:space-around;
  }

h3:hover {
    color: grey;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.h3_title {
    width: 300px;
}

@media only screen and (max-width: 560px) {
  .story {
    border: 1px solid grey;
    padding: 5px;
    height: 60px;
    margin: 10px;
    justify-content:space-around;
    display: block;
  }

  .h3_title {
    color: black;
    font-size: 16px;
    font-style: normal;
  }

  .level {
    width: 90%;
  }

  h3 {
    color: grey;
    font-size: 14px;
    font-style: italic;
    list-style: circle;
    width: auto;
    max-width: 300px;
    text-align: justify;
    margin-left: 15px;
  }
}